.editorWrapper {
  color: var(--color-text-dark);
  max-width: 1000px;
  min-width: 100%;
}

.editorWrapper :global(.milkdown) {
  font-family:
    'Inter',
    -apple-system,
    sans-serif;
  line-height: 1.8;
}

.editorWrapper :global(.milkdown .editor) {
  outline: none;
  padding: 0 0 20px 0;
}
