@import './base.css';

body {
  overflow: hidden;
  background-size: cover;
  user-select: none;
  background-color: var(--color-primary-dark);
  width: 100%;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid var(--color-scroll-dark);
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
}

.text {
  font-size: 28px;
  color: var(--color-text-dark);
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin: 0 10px;
  padding: 16px 0;
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
}
